node_modules/
dist/
build/
.env

backend/auth-service/node_modules/
backend/course-service/node_modules/
backend/auth-service/dist/
backend/course-service/dist/
backend/auth-service/uploads/
backend/course-service/uploads/

backend/postgres_data/

.DS_Store
.idea/
.vscode/
*.log
